@tailwind base;
@tailwind components;
@tailwind utilities;

/* div{
  background-color: #69382e;
} */

.fadeIn{
  animation: fadeIn .7s ease-in forwards;

}

@keyframes fadeIn{
  from {
    opacity:0;
  }
  to{
    opacity: 1;
  }
}

.fadOut{
  animation: fadeOut .7s ease-in forwards;

}

@keyframes fadeOut{
  0% {
    opacity:1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity:0;
  }
}

.expandable {
  max-height: 0; /* Set initial max-height to 0 for a fully collapsed state */
  height: auto;
  padding: 0;
  overflow: hidden;
  opacity: 0; /* Set initial opacity to 0 for a fully transparent state */
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s ease-in-out; /* Include the transition property for max-height and opacity */
}

.expanded {
  padding: 40px;
  max-height: 500px; /* Set max-height to a larger value when expanded */
  opacity: 1; /* Set opacity to 1 when expanded */
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out,padding 0.5s ease-in-out; /* Include the transition property for max-height and opacity */
}

.slideUp{
  animation: SlideUp .5s ease-in-out;
}

@keyframes SlideUp{
  from{
    margin-top:200px
  }
  to{
    margin-top: 0px;
  }

}

.slideDown{
  animation: SlideDown .5s ease-in-out;
}

@keyframes SlideDown{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }

}